<div class="container">
  <p class="display-4 text-center {{color}}"> Click any button to change text color</p>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary" (click)="changeColor(0)">Blue</button>
    <button type="button" class="btn btn-warning" (click)="changeColor(1)">Yellow</button>
    <button type="button" class="btn btn-success" (click)="changeColor(2)">Green</button>
    <button type="button" class="btn btn-danger" (click)="changeColor(3)">Red</button>
  </div>
</div>