<div class="container">
  <h1>Condition Rendering</h1>
  <hr>
  <p class="lead" *ngIf="flag">
    This is a lead paragraph. It stands out from regular paragraphs. This is a lead paragraph. It stands out from
    regular paragraphs. This is a lead paragraph. It stands out from regular paragraphs. This is a lead paragraph. It
    stands out from regular paragraphs. This is a lead paragraph. It stands out from regular paragraphs. This is a lead
    paragraph. It stands out from regular paragrap hs. This is a lead paragraph. It stands out from regular paragraphs.
    This is a lead paragraph. It stands out from regular paragraphs.
  </p>
  <button type="button" class="btn btn-primary material-icons" (click)="changeToogle()">{{flag? "visibility_off" : "visibility"}}</button>
</div>