<h1 class="my-3">Welcome to PostBook!</h1>
<hr>
<p class="lead">
    This is a lead paragraph. It stands out from regular paragraphs.This is a lead paragraph. It stands out from regular
    paragraphs.This is a lead paragraph. It stands out from regular paragraphs.This is a lead paragraph. It stands out
    from regular paragraphs.This is a lead paragraph. It stands out from regular paragraphs.This is a lead paragraph. It
    stands out from regular paragraphs.This is a lead paragraph. It stands out from regular paragraphs.This is a lead
    paragraph. It stands out from regular paragraphs.This is a lead paragraph. It stands out from regular paragraphs.
</p>
<ul class="list-group my-2">
    <li class="list-group-item active bg-success" aria-current="true">An active item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>